
<app-name
  [control]="form.controls['name']">
</app-name>

<div class="row">
  <div class="col-6">
    <app-email
      [control]="form.controls['email']">
    </app-email>
  </div>

  <div class="col-6">
    <app-contact
      [control]="form.controls['contact']">
    </app-contact>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <app-dropdown-form-group
      [config]="roleType"
      [control]="form.controls['role']"
      [editable]="roleTypeEditStatus">
    </app-dropdown-form-group>
  </div>
</div>
