@import "variables";

$menu-width: 36rem;

.side-menu-box {

  height: $search-dashboard-height;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: $header-height;
  width: $menu-width;

  border-right: 1px solid $mischka;

  /*background: linear-gradient(to bottom,
    $paradiso,
    $mantis
  );*/

  z-index:15;
}

.results-box {

  position: relative;
  height: $search-dashboard-height;
  padding-left: $menu-width;
}
