@import "variables";

$applicants-header-height: 9rem;

.applicants-header {

  height: $applicants-header-height;
  position: relative;

  &-title {

    &__job {
      font-size: 2.5rem;
    }

    &__applicants {

      font-size: 1.8rem;
      color: $mountainMist;
    }
  }

}

.button-spacing {

  padding: 1rem 3rem;
  border-radius: 100px;
}
