
<div class="applicants-header">

  <div class="applicants-header-title">
    <div class="applicants-header-title__job">
      Web Development
    </div>
    <div class="applicants-header-title__applicants">
      Aplicantes ({{amount}})
    </div>
  </div>

  <div class="btn applicants-header__download">

    <app-button
      [color]="buttonColor"
      [animated]="buttonAnimation">
      <div class="button-spacing">
        Descargar paquete
      </div>
    </app-button>

  </div>

</div>




