@import "variables";

.custom-modal {

  text-align: center;

  &__header {

    background: $mantis-light;
    color: $white;
    padding: 4.6rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;

    &__error {
      background: $burntSienna-light;
    }
  }

  &__body {
    padding: 5rem 1.5rem;
  }
}
