
<div class="log-in-form">

  <div class="log-in-form__header">
    Ingresa a tu cuenta
  </div>

  <div class="log-in-form__inputs">
    <app-log-in-field class="field"
      [control]="form.get('username')"
      [placeholder]="usernamePlaceholder"
      [iconSource]="usernameIconSource"
      [autoFocus]="usernameAutoFocus">
    </app-log-in-field>
    <app-log-in-field class="field"
      [control]="form.get('password')"
      [placeholder]="passwordPlaceholder"
      [iconSource]="passwordIconSource"
      [type]="passwordType">
    </app-log-in-field>
  </div>

  <app-log-in-form-footer
      [loading]="loading"
      [message]="message"
      (submit)="onSubmit()">
  </app-log-in-form-footer>
</div>
