@import "variables.scss";

:host {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-105%, -50%);
}

.popover {

  position: relative;
  width: 25rem;
  padding: 1.5rem;
  background: $abbey;

  &__message {

    font-family: 'Montserrat', sans-serif !important;
    display: block;
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.arrow {

  // position properties
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);

  // triangle drawing
  background: $abbey;
  width: 1.5rem;
  height: 2rem;
  clip-path: polygon(0 0, 100% 50%, 0 100%);
}
