@import "variables";

$page-size: 1.7rem;

.paginator {

  transform: translateX(-50%);
  display: inline-block;
  left: 50%;
  position: relative;

  & * {
    display: inherit;
    text-align: center;
  }

  &__arrow {

    // image position set manually
    margin: -11px 0;
    padding: 2rem;

    img {
      height: 26px;
    }

    &:hover {

      cursor: pointer;
    }
  }

  &__current-page {

    font-size: $page-size;
    font-weight: 600;
    background: $mantis;
    color: $white;
    border-radius: 50%;
    width: 43px;
    line-height: 43px;

    &_margin_wide {
      margin: 0 2rem;
    }
  }
}

.hidden {
  opacity: 0;
}
