@import "variables";
@import "mixins";

.header {

  height: $header-height;
  position: relative;
  z-index: 10;
  background: $azure;

  &_style_transparent {

    border: solid 2px white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  &_style_solid {
    box-shadow: $shadow;
  }

  &__logo {

    @include y-mid-positioning;

    display: inline-block;
    margin-left: $dashboard-left-spacing;

    img {
      height: $logo-height;
    }
  }

  &__right-content {

    @include y-mid-positioning;

    right: 0;
    display: inline-block;
    margin-right: $dashboard-right-spacing;
  }
}
