@import "variables";
@import "mixins";

.header {

  @include shadow;

  height: $header-height;
  width: 100vw;
  background: $azure;
  position: relative;
  z-index: 10;

  &__logo {

    @include y-mid-positioning;

    display: inline-block;
    margin-left: $dashboard-left-spacing;

    img {
      height: $logo-height;
    }
  }

  &__right-content {

    @include y-mid-positioning;

    right: 0;
    display: inline-block;
    margin-right: $dashboard-right-spacing;
  }
}
