
<div class="profile
            container">

  <app-profile-form-container>

    <app-profile-user-details
      [userDetails]="profileInformation"
      (onFormChanged)="onFormChangedHandler($event)">
    </app-profile-user-details>

  </app-profile-form-container>

  <app-profile-form-container>

    <app-profile-file-input
      [name]="name"
      (upload)="onUploadHandler($event)">
    </app-profile-file-input>

  </app-profile-form-container>

  <div class="profile__update-status text-center"
       [ngClass]="{'profile__update-status_hidden': shouldHideUpdateStatus}">
    Tu perfil se ha actualizado.
  </div>

  <div class="profile__update-button
              d-flex justify-content-center">

    <app-button
      *ngIf="!loading; else loadingIcon"
      [color]="buttonColor"
      [shape]="buttonShape"
      [enabled]="shouldButtonBeEnabled"
      (submit)="onSubmitHandler()">
      <div class="button-spacing">
        Guardar
      </div>
    </app-button>

    <ng-template #loadingIcon>
      <img src="assets/rotate.svg"/>
    </ng-template>

  </div>
</div>
