
<div class="profile
            container">

  <app-profile-form-container>

    <app-profile-user-details>
    </app-profile-user-details>

  </app-profile-form-container>

  <app-profile-form-container>

    <app-profile-file-input>
    </app-profile-file-input>

  </app-profile-form-container>

  <div class="profile__update-button
              d-flex justify-content-center">

    <app-button
      [color]="buttonColor"
      [shape]="buttonShape">
      <div class="button-spacing">
        Guardar
      </div>
    </app-button>

  </div>
</div>
