@import "variables";

.profile {
  background: $azure;
  padding: 4rem 4rem 0;
  border: 1px solid $mischka;
  border-radius: 10px;

  &__update-button {
    margin: 5rem 0 2rem 0;

    img {

      height: 4rem;
      animation: {
        duration: 1s;
        name: rotate;
        iteration-count: infinite;
        timing-function: linear;
      }
    }
  }

  .button-spacing {
    padding: 1.5rem 4rem;
  }
}
