@import "variables";

.input-field {

  width: 100%;
  margin-top: $input-field-margin-top;

  &__label {

    font-size: $label-font-size;
    color: $label-color;
    margin-bottom: $label-margin-bottom;
  }

  &__input {

    width: inherit;
    border-radius: $input-border-radius;
    border: $input-border;

    &:focus {

      box-shadow: 0 0;
      border: {
        width: 1px;
        color: darken($geyser, 12%);
      }
    }

    &_type_default {
      font-size: 1.7rem;
      height: $input-height;
    }

    &_type_text {
      font-size: 1.6rem;
    }
  }

  &__error {

    color: $burntSienna;
    margin: $error-margin;
    font-size: $error-font-size;
  }
}
