
<div class="input-field">

  <label class="input-field__label">
    {{fieldName}}
  </label>

  <input class="input-field__input
                input-field__input_type_default
                form-control"
         *ngIf="isType('input')"
         [placeholder]="placeHolder"
         [formControl]="control">

  <textarea class="input-field__input
                   input-field__input_type_text
                   form-control"
            rows="7"
            *ngIf="isType('text-area')"
            [placeholder]="placeHolder"
            [formControl]="control">
  </textarea>

  <div *ngFor="let warning of warnings">
    <div class="input-field__error"
         *ngIf="!warning.resolved && showMessages">
      {{warning.message}}
    </div>
  </div>

</div>
