
.home-welcome {

  height: 100vh;
  position: relative;
  background-size: cover;
  background: url('/assets/images/udea_camilo.jpg') fixed center;

  &__content-box {

    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
}
