
<div [ngSwitch]="step">

  <div *ngSwitchCase="1" class="info">
    <i class="info__icon fas fa-map-signs"></i>
    <h2 class="info__header">Credenciales</h2>
    <p class="info__tip">Ingresa la información general de tu sesión </p>
  </div>

  <div *ngSwitchCase="2" class="info">
    <i class="info__icon fas fa-archive"></i>
    <h2 class="info__header">Información de la empresa</h2>
    <p class="info__tip">¿A quien estas representando? Esta información siempre será editable en el panel de configuración</p>
  </div>

  <div *ngSwitchCase="3" class="info">
    <i class="info__icon fas fa-paper-plane"></i>
    <h2 class="info__header">Información personal</h2>
    <p class="info__tip">¿Quien eres tu? Necesitamos validar tu identidad</p>
  </div>

</div>
