
<div class="log-in-form">

  <div class="log-in-form__header">
    Ingresa a tu cuenta
  </div>

  <div class="log-in-form__inputs">
    <app-log-in-field class="field"
      [placeholder]="usernamePlaceholder"
      [iconSource]="usernameIconSource"
      [autoFocus]="usernameAutoFocus">
    </app-log-in-field>
    <app-log-in-field class="field"
      [placeholder]="passwordPlaceholder"
      [iconSource]="passwordIconSource"
      [type]="passwordType">
    </app-log-in-field>
  </div>

  <div class="log-in-form-footer">

    <div class="log-in-form-footer__submit">
      <app-button>ENTRAR</app-button>
    </div>

    <div class="log-in-form-footer__sign-up">
      <span>¿ Sin una cuenta ? </span>
      <span class="log-in-form-footer__sign-up_green">Registrate</span>
    </div>

    <div class="log-in-form-footer__recovery">
      <span>¿ Olvidaste tu contraseña ? </span>
    </div>

  </div>
</div>
