@media (min-width: 1200px) {
  .container{
    max-width: 87em;
  }
}

$light-grey: #F9E7EA;
$divider: #CCD0D5;
$highlight-color: #6BCB98;
$title-color: #303D54;
$secondary-title-color: #5A6875;
$title-size: 16px;
$secondary-title-size: 17px;
$text-size: 15px;
$text-color: #848CA0;

.sidebar {
  margin-top: 4em;

  .box {
    margin-left: 8em;

    .link {
      letter-spacing: 1px;
      cursor: pointer;
      color: $secondary-title-color;
      font: {
        size: $title-size;
      }

      i {
        color: $title-color;
        position: relative;
        top: 0.1em;
        margin-right: 0.5em;
        font: {
          size: 1.2em;
        }
      }

      &:hover {
        font-size: $secondary-title-size;
        color: $title-color;
      }
    }

    .active {
      color: $title-color;

      i {
        color: $highlight-color !important;
      }
    }
  }
}

.content {

  .profile-toolbar {
    margin-top: 1em;
    margin-bottom: 0;

    .bell {
      font-size: 1.2em;
    }

    .profile {
      padding-left: 0.5em;
      font-size: 2.2em;
    }
  }

  .auxiliary-navigation {
    margin-left: 1em;
    letter-spacing: 1px;

    a {
      color: $title-color;
      font-size: $title-size;
    }

    .active {
      font-weight: bold;
      border-bottom: {
        style: solid;
        color: $highlight-color;
        width: 1px;
      };
    }
  }
}


#accountPopover {
  cursor: pointer;
}

// popover styles

/deep/ .popover {
  min-width: 20em;

  .arrow {
    left: 93% !important;
  }

  .header {
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 0.5em;
    padding-left: 0.2em;
  }

  .body {

    font-size: 13px;
    font-weight: 400;

    span {
      cursor: pointer;
    }
  }

  .divider {
    border-top: 0.1em solid #4caf50;
    margin-top: 0.3em;
    padding-top: 0.7em;
    padding-bottom: 0.2em;
  }
}


