<div class="container">

  <!-- watch out -->
  <div class="row no-gutters">

    <div class="col-sm-3 sidebar">
      <div class="box">

          <div class="d-flex flex-column">
            <span class="nav-link link active" href="#"> <i class="fa fa-bookmark"></i> Offers</span>
            <span class="nav-link link"> <i class="fa fa-child"></i> Applicants</span>
          </div>

      </div>
    </div>

    <div class="col-sm-9 content">

      <nav class="navbar navbar-light navbar-expand-md nav-header">

        <div class="navbar-nav mr-auto"></div>
        <div class="navbar-nav">
          <a><i class="fa fa-bell-o"></i></a>
        </div>

        <div class="navbar-nav">
          <a id="accountPopover" [ngbPopover]="popContent"  #p="ngbPopover" placement="bottom-right">
            <i class="fa fa-user-circle-o icon fa-lg"></i>
          </a>
        </div>

      </nav>

      <ul class="nav auxiliary">

        <!-- todo: set this as an auxiliary route -->
        <li class="nav-item">
          <a class="nav-link active small" href="#">Active</a>
        </li>
        <li class="nav-item">
          <a class="nav-link small">Inactive</a>
        </li>
      </ul>

      <router-outlet></router-outlet>

    </div>

  </div>
</div>

<!-- todo: close on click outside this box -->

<ng-template #popContent>
  <div class="header">
    <span class="header">{{username}}</span>
  </div>
  <span class="top-margin text-muted body">
      Settings
    </span>
  <div class="divider"></div>
  <div class="body">
    <span class="text-muted" (click)="onLogOut()">
      Log out
    </span>
  </div>
</ng-template>

