@import "variables";
@import "mixins";

// change this variable to adjust
// the button height
$apply-padding: 2rem;
$button-font-size: 1.2rem;
$y-axis-button-padding: calc((#{$apply-section-height} - (#{$apply-padding}*2) - #{$button-font-size}) / 2 );

.apply {

  // a relative position makes the
  // shadow to be visible
  position: relative;
  height: $apply-section-height;

  background: lighten($athensGray, 1%);
  box-shadow: 0 -7px 12px -12px $regentGray;
  border-top: 1px solid $mischka;
  padding: $apply-padding;

  .button-spacing {

    display: inline-block;
    padding: $y-axis-button-padding 5rem;
  }

}
