@import "variables";

.job {

  margin: 1.35rem;
  padding: 1.35rem;
  position: relative;
  transition: all 1s;

  border: {
    radius: 5px;
    style: solid;
    width: 2px;
    color: transparent;
  };

  &__image {
    width: 75px;
    height: 75px;
    border-radius: 2px;
    box-shadow: 0 0 1px rgba($regentGray, 0.6);
  }

  &_active {
    border-color: $easternBlue !important;
    background: rgba($easternBlue, 0.02);
  }

  &:hover {
    cursor: pointer;
    border-color: $athensGray;
  }
}

.info {

  padding-left: 1rem;

  &__title {
    color: $pickledBlueWood;
    font-size: 1.4rem;
  }

  &__owner {
    color: $tuna;
    font-size: 1.3rem;
    font-weight: 600;
  }

  &__salary {
    color: $deYork;
    font-size: 1.3rem;
  }
}

