<div class="container mt-3 mb-3">
  <nav class="navbar navbar-light navbar-expand-md">

    <div class="options navbar-nav mr-auto">
      <a class="nav-item navbar-brand" routerLink="/home" routerLinkActive="active">Brand</a>
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Find jobs</a>
    </div>

    <div class="navbar-nav auth">
      <a class="login-padding nav-link" (click)="open()">Login</a>
      <button routerLink="/pick-sides" routerLinkActive="active" type="button" class="btn btn-dark btn-sm">Register</button>
    </div>

  </nav>
</div>

