<div class="input-field"
     [ngClass]="{'input-field_disabled': disabled}" >

  <div class="input-field__label">
    {{config.field}}
  </div>

  <div class="input-field__input"
       dropdown
       [isDisabled]="disabled"
       (onHidden)="onHiddenHandler()">

    <div class="input-field__option"
         [ngClass]="{'input-field__option_state_untouched': isUntouched}" >
      {{placeholder}}
    </div>

    <div class="input-field__button">
      <button class="input-field__caret
                     btn"
              dropdownToggle>
        <img src="assets/icons/company-dashboard/down-arrow.svg">
      </button>
    </div>

    <ul class="dropdown-menu dropdown-menu-right"
        *dropdownMenu>
      <div *ngFor="let option of config.options">
        <li class="item" (click)="onOptionSelect(option)">{{option}}</li>
      </div>
    </ul>

  </div>

  <div class="input-field__error"
       *ngIf="isValid">
    Este campo es requerido
  </div>

</div>
