@import "variables";
@import "mixins";

.input-field {

  margin-top: $input-field-margin-top;
  position: relative;

  &_disabled {
    opacity: .6;
  }

  &__label {

    font-size: $label-font-size;
    color: $label-color;
    margin-bottom: $label-margin-bottom;
  }

  &__input {
    position: relative;
  }

  &__option {

    font-size: 1.7rem;
    height: $input-height;
    line-height: $input-height;
    background: $white;
    padding-left: 7.5px;

    border-radius: $input-border-radius;
    border: $input-border;

    &_state_untouched {
      color: $label-color;
    }
  }

  &__button {

    position: absolute;
    right: 0;
    top: 0;
  }

  &__caret {

    height: $input-height;
    background: transparent;
    border-left: $input-border;

    img {
      height: 2rem;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &__error {

    color: $burntSienna;
    margin: $error-margin;
    font-size: $error-font-size;
  }
}

.item {

  font-size: 1.5rem;
  color: $mountainMist;
  padding: .5rem 2rem;

  &:hover {
    cursor: pointer;
    background: lighten($mischka, 5%);
  }
}
