<app-header></app-header>

<section>
  <div class="container-fluid bg-no-overlay">
    <div class="container">
      <div class="row">
        <div class="col">
          <span class="header">Always exceed your goals</span>
          <span>Find The Job That Fits Your Life</span>
        </div>
      </div>
    </div>
  </div>

  <!-- todo: replace this container for a router-outlet-->
<div class="container">

    <div class="row card-list" *ngFor="let company of companies">
      <div class="col">
        <div class="card">

          <div class="row">

            <div class="col-sm-3 media"></div>

            <div class="col content">
              <span class="title">{{company.companyName}}</span>
              <span class="description">{{trimDetails(company.companyDetails)}}</span>

              <button class="btn btn-details" [routerLink]="['/company-details', company.companyName]">View Details</button>
            </div>

            <!-- todo: get the total of job offers from a company -->
            <div class="col-sm-2 jobs">
              <span class="amount">4</span>
              <span class="tag">jobs</span>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12">
      <div [hidden]="companies || errMess">
        <h4>Stand by</h4>
      </div>
    </div>

    <div class="col-xs-12">
      <div *ngIf="errMess">
        {{errMess}}
      </div>
    </div>

  </div>
</section>
