
<div class="home-feature
            d-flex align-items-center">

  <div class="home-feature__spectator
              mr-auto text-left">

    <div class="heading-secondary">
      <div class="heading-secondary_main">
        {{feature.actor}}
      </div>
      <div class="heading-secondary_sub u-font-weight_italic">
        {{feature.hint}}
      </div>
    </div>

    <div class="home-feature__sign-up-button">

      <app-button
        [shape]="buttonShape">
        <div class="button-spacing">
          registrate
        </div>
      </app-button>

    </div>

  </div>

  <div class="home-feature__statements">

    <div class="feature-card"
         *ngFor="let advantage of feature.advantages">
      <div class="feature-card__image">
        <img [src]="advantage.icon">
      </div>
      <div class="feature-card__content">
        {{advantage.feature}}
      </div>
    </div>

  </div>

</div>
