
<div class="job-input-field">

  <label class="job-input-field__label">
    {{fieldName}}
  </label>
  <input class="job-input-field__input
                form-control"
         [placeholder]="placeHolder"
         bsDatepicker
         [bsValue]="datePickerValue"
         placement="right"
         [minDate]="minDate"
         (onHidden)="onHiddenHandler()"
         (bsValueChange)="onDateSelected($event)">

  <div *ngIf="invalid"
       class="job-input-field__error">
    Este campo es requerido
  </div>

  <div *ngIf="invalidDate"
       class="job-input-field__error">
    Formato invalido
  </div>
</div>

