@import "variables";

.job-input-field {

  width: 100%;
  margin-top: $job-offer-input-field-margin-top;

  &__label {

    font-size: $job-offer-label-font-size;
    color: $job-offer-label-color;
    margin-bottom: $job-offer-label-margin-bottom;
  }

  &__input {

    height: $job-offer-input-height;
    width: inherit;
    font-size: 1.7rem;
    border-radius: $job-offer-input-border-radius;
    border: $job-offer-input-border;

    &:focus {

      box-shadow: 0 0;
      border: {
        width: 1px;
        color: darken($geyser, 10%);
      }
    }
  }

  &__error {

    color: $burntSienna;
    margin: $job-offer-error-margin;
    font-size: $job-offer-error-font-size;
  }
}
