<!-- todo: profile icons -->
<!-- todo: new filter: date posted -->
<!-- todo: caching -->
<!-- todo: organize: most recent, highest pay, lowest pay, most relevant -->

<!-- todo: category highlight -->
<!-- todo: search bar animations-->
<!-- todo: salary range: custom directives, slider component -->

<!-- configuration -->

<!-- todo(1): each job item should be its own component  -->

<div class="side-menu">
  <div class="option-list">

    <div class="search-bar py-3">
      <i class="fas fa-search"></i><input>
    </div>

    <div class="checkbox-group d-flex flex-column">

      <!-- optional: use a directive on our checkbox list that hides its content based on an event fired from 'title'-->
      <span class="title" (click)="toggleContent(0)">
        Role<i class="fas fa-angle-up float-right"
               [ngClass] = "{ 'arrow-down': !shouldFold(0), 'arrow-up': shouldFold(0) }"></i>
      </span>
      <div class="checkbox-list" [hidden]="shouldFold(0)">

        <!-- optional: use a directive that appends a 'check inner box' div-->
        <ul>
          <li class="checkbox-item"
              *ngFor="let role of roles"
              (click)="toggleCheck(role,'roles')">

            <div class="check-outer-box">
              <div class="check-inner-box" [hidden]="shouldDisplayBlock(role,'roles')"></div>
            </div>
            <span class="label">{{role}}</span>
          </li>
        </ul>

      </div>
    </div>

    <div class="checkbox-group d-flex flex-column">

      <span class="title" (click)="toggleContent(1)">
        Additional lenguages<i class="fas fa-angle-up float-right"
                               [ngClass] = "{ 'arrow-down': !shouldFold(1), 'arrow-up': shouldFold(1) }"></i>
      </span>
      <div class="checkbox-list" [hidden]="shouldFold(1)">

        <ul>
          <li class="checkbox-item"
              *ngFor="let language of languages"
              (click)="toggleCheck(language, 'languages')">

            <div class="check-outer-box">
              <div class="check-inner-box" [hidden]="shouldDisplayBlock(language, 'languages')"></div>
            </div>
            <span class="label">{{language}}</span>
          </li>
        </ul>

      </div>
    </div>

    <div class="checkbox-group d-flex flex-column">

      <span class="title" (click)="toggleContent(2)">
        Job Type<i class="fas fa-angle-up float-right"
                   [ngClass] = "{ 'arrow-down': !shouldFold(2), 'arrow-up': shouldFold(2) }"></i>
      </span>
      <div class="checkbox-list" [hidden]="shouldFold(2)">

        <ul>
          <li class="checkbox-item"
              *ngFor="let type of jobType"
              (click)="toggleCheck(type, 'jobType')">

            <div class="check-outer-box">
              <div class="check-inner-box" [hidden]="shouldDisplayBlock(type, 'jobType')"></div>
            </div>
            <span class="label">{{type}}</span>
          </li>
        </ul>

      </div>
    </div>

    <button class="btn urgency">high</button>

  </div>
</div>

<div class="container-fluid side-body" id="list">
  <div class="row no-gutters">

    <div class="col-sm-4">
      <div class="results">

        <div class="header"></div>

        <div class="company"
             *ngFor="let offer of offers; let index = index"
             (click)="showDetails(offer, index)"
             [ngClass] = "{ 'active': toggleStyle(index) }">

          <div class="row no-gutters">
            <div class="col-sm-2 media"></div>
            <div class="col info">
              <span class="title">{{offer.jobName}}</span>
              <span class="company-name">{{offer.ownerCompany}}</span>
              <span class="salary">${{offer.salary | number:'.0-2'}}</span>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="col-sm-8">
      <div class="company-details">
        <app-job-details [jobId]="jobId"></app-job-details>
      </div>
    </div>

  </div>
</div>
