<!-- todo: profile icons -->
<div class="side-menu">
  <div class="option-list">

    <div class="search-bar">
      <input title="search" class="form-control" />
    </div>

    <div class="checkbox-group">

      <span class="title">Role</span>
      <div class="checkbox-list">

        <ul>
          <li class="checkbox-item" *ngFor="let role of roles">
            <input type="checkbox" autocomplete="off">
            <div class="check"></div>
            <span class="label">{{role}}</span>
          </li>
        </ul>

      </div>
    </div>

    <div class="checkbox-group d-flex flex-column">

      <span class="title">Additional lenguages</span>
      <div class="checkbox-list">

        <ul>
          <li class="checkbox-item" *ngFor="let language of languages">
            <input type="checkbox" autocomplete="off">
            <div class="check"></div>
            <span class="label">{{language}}</span>
          </li>
        </ul>

      </div>
    </div>

    <div class="checkbox-group d-flex flex-column">

      <span class="title">Job Type</span>
      <div class="checkbox-list">

        <ul>
          <li class="checkbox-item" *ngFor="let type of jobType">
            <input type="checkbox" autocomplete="off">
            <div class="check"></div>
            <span class="label">{{type}}</span>
          </li>
        </ul>

      </div>
    </div>

    <button class="btn urgency">high</button>

  </div>
</div>

<div class="container-fluid side-body" id="list">
  <div class="row no-gutters">

    <div class="col-sm-4">
      <div class="results">

        <div class="header"></div>

        <div class="company"
             *ngFor="let offer of offers; let index = index"
             (click)="showDetails(offer, index)"
             [ngClass] = "{ 'active': toggleStyle(index) }">

          <div class="row no-gutters">
            <div class="col-sm-2 media"></div>
            <div class="col info">
              <span class="title">{{offer.jobName}}</span>
              <span class="company-name">{{offer.ownerCompany}}</span>
              <span class="salary">${{offer.salary | number:'.0-2'}}</span>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="col-sm-8">
      <div class="company-details">
        <app-job-details [jobId]="jobId"></app-job-details>
      </div>
    </div>

  </div>
</div>
