<!-- todo: profile icons -->
<div class="side-menu">
  <div class="option-list">

    <div class="search-bar">
      <input title="search" class="form-control" />
    </div>

    <div class="checkbox-group">
      <span class="title">Role</span>

      <div class="checkbox-list btn-group-vertical">
        <!--<input type="checkbox" autocomplete="off">
        <input type="checkbox" autocomplete="off">-->
      </div>

    </div>

    <div class="checkbox-group d-flex flex-column">
      <span class="title">Additional lenguages</span>
    </div>

    <div class="checkbox-group d-flex flex-column">
      <span class="title">Job Type</span>
    </div>

    <button class="btn urgency">high</button>

  </div>
</div>

<div class="container-fluid side-body">
  <div class="row no-gutters">

    <div class="col-sm-4">
      <div class="results">

        <div class="header"></div>

        <div class="company" *ngFor="let offer of offers" (click)="showDetails(offer)">

          <div class="row no-gutters">
            <div class="col-sm-2 media"></div>
            <div class="col info">
              <span class="title">{{offer.jobName}}</span>
              <span class="company-name">{{offer.ownerCompany}}</span>
              <span class="salary">${{offer.salary}}</span>
            </div>
          </div>

        </div>

        <div class="company active">

          <div class="row no-gutters">
            <div class="col-sm-2 placeholder"></div>
            <div class="col info">
              <span class="title">Senior UI engineering</span>
              <span class="company-name">Amazon</span>
              <span class="salary">$150k</span>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="col">
      <div class="company-details">
        <app-job-details [jobId]="jobId"></app-job-details>
      </div>
    </div>

  </div>
</div>
