$search-background-color: #3E918F;
$background-color: #F6F4F6;    // winter tones
$title-color: #303D54;
$title-size: 14px;
$text-color: #848CA0;
$text-size: 12px;
$small-text-color: #6BCB98;
$small-text-size: 11px;

.side-menu {
  position: fixed;
  width: 19%;
  height: 100%;
  background: $search-background-color;

  .option-list {
    margin-top: 5em;

    .search-bar {
      input {
        margin: {
          left: 2em;
        };
        border: {
          style: none;
        };
        width: 80%;
        background: rgba(black, 0.2);

        &:focus {
          outline: none;
          border: none !important;
          box-shadow: none !important;
        }
      }
    }

    .checkbox-group {
      margin: {
        top: 3em;
        left: 2em;
      };

      .title {
        display: block;
        color: white;
        font: {
          size: $text-size;
          weight: bold;
        }
      }

      .checkbox-list {
        margin: {
          top: 0.5em;
        };

        input {
          margin-bottom: 0.5em;
          padding: {
            left: 1em;
          };
        }
      }
    }

    .urgency {

      font-size: $small-text-size;
      color: white;
      background: rgba(black, 0.2);
      margin: {
        top: 3em;
        left: 2em;
      };
      padding: {
        left: 20px;
        right: 20px;
      };

      border-radius: 25px;
      border: {
        style: solid;
        width: 2px;
      };
    }
  }
}


.side-body {
  padding-left: 19%;
  padding-right: 0;
  height: 100%;

  .row {
    height: 100%;
  }

  .results {
    background: $background-color;
    height: 100%;

    // for images with a resolution of 1920x1080p
    .company {
      height: auto;
      margin: {
        top: 0.9em;
        bottom: 0.9em;
        left: 0.5em;
        right: 0.5em;
      }
      padding: {
        top: 0.9em;
        bottom: 0.9em;
        left: 0.5em;
        right: 0.5em;
      };
      border: {
        radius: 5px;
        style: solid;
        width: 2px;
        color: $background-color;
      };

      .media {
        border-radius: 5px;
        background: {
          image: url('google.jpg');
          repeat: no-repeat;
          size: cover;
          position: center center;
        }
      }

      // todo: remove this rule
      .placeholder {
        border-radius: 5px;
        background: {
          image: url('amazon.jpg');
          repeat: no-repeat;
          size: cover;
          position: center center;
        }
      }

      .info {
        padding: {
          left: 0.5em;
          top: 0.5em;
        }

        .title {
          display: block;
          color: $title-color;
          font-size: $title-size;
          font-weight: bold;
        }

        .company-name {
          display: block;
          color: $text-color;
          font-size: $text-size;
          font-weight: bold;
        }

        .salary {
          display: block;
          color: $small-text-color;
          font-size: $small-text-size;
          font-weight: bold;
        }
      }

      &:hover {
        cursor: pointer;
        border: {
          radius: 5px;
          style: solid;
          width: 2px;
          color: #CEE1E6;
        };
      }
    }

    .active {
      background: #ededed;
      border: {
        radius: 5px;
        style: solid;
        width: 2px;
        color: #54B3BE !important;
      };
    }

    .header {
      padding: 2em;
    }

    .company {

    }

    // todo: include a box shadow
    box-shadow: 10em 0 15em rgba(black, 0.1)
  }

  .company-details {
    height: 100%;
  }
}
