$search-background-color: #3E918F;
$background-color: #F6F4F6; // winter tones
$title-color: #303D54;
$title-size: 14px;
$text-color: #848CA0;
$text-size: 12px;
$small-text-color: #6BCB98;
$small-text-size: 11px;
$label-text-size: 12px;

.side-menu {
  position: fixed;
  width: 19%;
  height: 100%;
  background: $search-background-color;

  .option-list {
    margin-top: 5em;

    .search-bar {
      input {
        margin: {
          left: 2em;
        }
        border: {
          style: none;
        }
        width: 80%;
        background: rgba(black, 0.2);

        &:focus {
          outline: none;
          border: none !important;
          box-shadow: none !important;
        }
      }
    }

    .checkbox-group {
      margin: {
        top: 2em;
        left: 2em;
      }

      .title {
        display: block;
        color: white;
        font: {
          size: $text-size;
          weight: bold;
        }
      }

      .checkbox-list {
        margin-top: 0.7em;
        margin-left: 0.4em;

        ul {
          list-style: none;
          margin: 0;
          padding: 4px;
          overflow: auto;
          margin: {
            top: 0.5em;
          }

          li {
            position: relative;
            display: block;
            float: left;
            width: 100%;
            height: 30px;

            input[type=checkbox] {
              position: absolute;
              opacity: 0;
              z-index: 1;
              /*left: 20px;
              top: -6px;*/
            }

            // colored outer box
            .check {
              position: absolute;
              background: rgba(black, 0.2);
              border-radius: 2px;
              height: 22px;
              width: 22px;
              top: -3px;
              left: -3px;
              transition: border .25s linear;
              -webkit-transition: border .25s linear;

              // uncolored inner box
              &::before {
                position: absolute;
                display: block;
                border-radius: 3px;
                content: '';
                height: 14px;
                width: 14px;
                top: 4px;
                left: 4px;
                margin: auto;
                transition: background 0.25s linear;
                -webkit-transition: background 0.25s linear;
              }
            }

            input[type=checkbox]:checked ~ .check::before {
              background: white;
            }

            .label {
              position: relative;
              margin-left: 2.5em;
              top: -5px;
              font-size: $label-text-size;
              color: white;
            }

            &:hover {
              font-weight: bold;
            }
          }
        }
      }
    }

    .urgency {

      font-size: $small-text-size;
      color: white;
      background: rgba(black, 0.2);
      margin: {
        top: 3em;
        left: 2em;
      }
      padding: {
        left: 20px;
        right: 20px;
      }

      border-radius: 25px;
      border: {
        style: solid;
        width: 2px;
      }
    }
  }
}

.side-body {
  padding-left: 19%;
  padding-right: 0;
  height: 100%;

  .row {
    height: 100%;
  }

  .results {
    background: $background-color;
    height: 100%;

    // for images with a resolution of 1920x1080p
    .company {
      height: auto;
      margin: {
        top: 0.9em;
        bottom: 0.9em;
        left: 0.5em;
        right: 0.5em;
      }
      padding: {
        top: 0.9em;
        bottom: 0.9em;
        left: 0.5em;
        right: 0.5em;
      }
      border: {
        radius: 5px;
        style: solid;
        width: 2px;
        color: $background-color;
      }
    ;

      .media {
        border-radius: 5px;
        background: {
          image: url('google.jpg');
          repeat: no-repeat;
          size: cover;
          position: center center;
        }
      }

      .info {
        padding: {
          left: 0.5em;
          top: 0.5em;
        }

        .title {
          display: block;
          color: $title-color;
          font-size: $title-size;
          font-weight: bold;
        }

        .company-name {
          display: block;
          color: $text-color;
          font-size: $text-size;
          font-weight: bold;
        }

        .salary {
          display: block;
          color: $small-text-color;
          font-size: $small-text-size;
          font-weight: bold;
        }
      }

      &:hover {
        cursor: pointer;
        border: {
          radius: 5px;
          style: solid;
          width: 2px;
          color: #CEE1E6;
        }
      }
    }

    .active {
      background: #ededed;
      border: {
        radius: 5px;
        style: solid;
        width: 2px;
        color: #54B3BE !important;
      }
    }

    .header {
      padding: 2em;
    }

    .company {

    }

    // todo: include a box shadow
    box-shadow: 10em 0 15em rgba(black, 0.1)
  }

  .company-details {
    height: 100%;
  }
}
