
<div class="panel">

  <div class="panel__item panel__item_active">
    <img src="assets/icons/company-dashboard/notepad.svg" alt="">
    <div class="label">Ofertas</div>
  </div>

  <div class="panel__item  panel__item_inactive">
    <img src="assets/icons/company-dashboard/pen.svg" alt="">
    <div class="label">Nueva Oferta</div>
  </div>

  <div class="panel__item  panel__item_inactive">
    <img src="assets/icons/company-dashboard/cogwheel.svg" alt="">
    <div class="label">Configuración</div>
  </div>

  <div class="panel__item  panel__item_inactive">
    <img src="assets/icons/company-dashboard/exit.svg" alt="">
    <div class="label">Cerrar Sesion</div>
  </div>

</div>
