<div class="custom-table">

  <div class="table-header">

    <div class="table-header__item size_small">
      #
    </div>
    <div class="table-header__item size_big">
      nombre
    </div>
    <div class="table-header__item size_medium">
      aplicantes
    </div>
    <div class="table-header__item size_medium">
      culmina
    </div>

  </div>

  <div class="table-row"
       *ngFor="let job of jobs; let i = index">

    <div class="table-row__item size_small">
      {{i}}
    </div>

    <div class="table-row__item size_big">
      {{job.name}}
    </div>

    <div class="table-row__item table-row__item_color_grey size_medium">
      {{getApplicants(i)}}
    </div>

    <div class="table-row__item  table-row__item_color_grey size_medium">
      {{job.expiry}}
    </div>
    <div class="table-row__item size_tiny">
      <img src="assets/icons/company-dashboard/more-options.svg"/>
    </div>

  </div>

</div>

<app-paginator>
</app-paginator>
