@import "variables";

:host {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-105%, -50%);
}

.popover {

  position: relative;
  width: 25rem;
  padding: 2rem;
  box-shadow: 0 0 6px -2px $regentGray;
  background: $azure;
  border-width: 5px 0 0 0;
  border-color: $burntSienna;

  &__message {

    font-family: 'Montserrat', sans-serif !important;
    display: block;
    font-size: 1.3rem;
    color: $burntSienna;
    font-weight: 600;
  }
}
