<div class="u-relative"
     *ngIf="getTypeStatus('large')">

  <div class="paginator">

    <div class="paginator-button">

      <app-button>
        <span class="button-spacing">
          ATRAS
        </span>
      </app-button>

    </div>

    <div class="paginator__pages">
      <div class="paginator__current-page">1</div>
      <div class="paginator__page">2</div>
      <div class="paginator__page">3</div>
    </div>

    <div class="paginator-button">

      <app-button>
        <span class="button-spacing">
          SIGUI.
        </span>
      </app-button>

    </div>

  </div>

</div>

<div class="u-relative"
     *ngIf="getTypeStatus('small')">

  <div class="paginator">

    <div class="paginator__arrow"
         (mouseenter)="toggleLeftArrow()"
         (mouseleave)="toggleLeftArrow()" >
      <img [src]="leftArrowUrl" alt="">
    </div>

    <div class="paginator__current-page
                paginator__current-page_margin_wide">
      4
    </div>

    <div class="paginator__arrow"
         (mouseenter)="toggleRightArrow()"
         (mouseleave)="toggleRightArrow()">
      <img [src]="rightArrowUrl" alt="">
    </div>

  </div>
</div>
