<div class="u-relative">

  <div class="paginator">

    <div class="paginator-button">

      <app-button>
        <span class="button-spacing">
          ATRAS
        </span>
      </app-button>

    </div>

    <div class="paginator__pages">
      <div class="paginator__current-page">1</div>
      <div class="paginator__page">2</div>
      <div class="paginator__page">3</div>
    </div>

    <div class="paginator-button">

      <app-button>
        <span class="button-spacing">
          SIGUI.
        </span>
      </app-button>

    </div>

  </div>

</div>
