
.icon {
  font-size: 3rem;

  // relative parent to the popover component
  position: relative;
}

.warning {

  font-family: 'Montserrat', sans-serif !important;
  font-style: italic;
  font-size: 1.4rem;

  &__message {

  }
}
