
<footer class="home-footer">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-4">
        <div class="home-footer__column-header u-font-weight_bold">Medellin, Antioquia</div>
        <p>Cl. Barranquilla #53 - 108<br>
          Deisy Loaiza Berrío</p>
        <p>(+57)(4)2198534 - 2195530<br>
          (+57) 3158222815</p>
        <div>practicassistemas@udea.edu.co</div>
      </div>
      <div class="offset-4 col-4">
        <div class="home-footer__column-header u-font-weight_bold">Acerca de nosotros</div>
        <div class="text-justify">Nuestra misión es acortar la brecha entre las empresas y la facultad de ingeniería. Somos el
          puente ideal de comunicación para las ofertas laborales en la Universidad de Antioquia</div>
      </div>
    </div>

    <div class="home-footer__row-header
                text-center">
      <p>Universidad de Antioquia<br>Departamento de Ingenieria de Sistemas</p>
    </div>

  </div>
</footer>
