<section>
  <div class="container">
    <div class="row">
      <span class="go-back"><i class="fa fa-chevron-left mr-2"></i>Back to search more companies</span>

      <div class="col-sm-12">
        <div class="card">
          <div class="card-body companyDetails">
            <div class="row">

                <div class="col-sm-2 img">
                    <div class="ratio img-circle img-responsive align-self-center"></div>
                </div>

                <div class="col-sm-6 details">
                    <span class="companyName">Google</span>
                    <span class="text description">Software development</span>
                    <div style="display: inline">
                      <button class="btn btn-contact ">Contacto</button>
                      <span class="follow">follow<i class="fa fa-heart-o"></i></span>
                    </div>

                </div>

                <div class="col-sm-4">
                  <div class="statistics">
                    <div class="row no-gutters">

                      <div class="col-sm-5 tag-column">
                        <div class="d-flex flex-column">
                          <div class="p-1">Job offers:</div>
                          <div class="p-1">Location:</div>
                          <div class="p-1">Review Score:</div>
                        </div>
                      </div>

                      <div class="col-sm-6 value-column">
                        <div class="d-flex flex-column">
                          <div class="p-1">4</div>
                          <div class="p-1">Medellin, Antioquia</div>
                          <div class="p-1">4.0</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="tabs">
      <span class="active header">Profile</span>
      <span class="header">Reviews</span>
    </div>

    <div class="row">

      <div class="col-sm-2 websites">
        <div class="card">
          <div class="card-body">
            <span class="title">WEBSITES</span>
            <span class="text"><i class="fa fa-globe mr-2 mt-2"></i>Website</span>
            <span class="text"><i class="fa fa-linkedin-square mr-2 mt-2"></i>Admin page</span>
          </div>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="card">
          <div class="card-body about">
                <span class="title">ABOUT</span>
                <span class="text info">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar nisi ac elit condimentum porttitor.
                  Fusce ac est mauris. Donec pretium tellus eu lobortis consectetur. Nullam mauris massa, porta ac imperdiet vel,
                  mollis ac nulla. Vivamus feugiat lobortis varius. Nulla facilisi. Sed sit amet dignissim est.
                  Integer lorem dui, scelerisque non eros vel, euismod suscipit massa. Maecenas accumsan enim sit amet lectus varius tempor.
                </span>
          </div>
        </div>

        <div class="card job-list">
          <div class="card-body">

            <span>JOBS (2)</span>
            <div class="list">
              <div class="list-item horizontal-line">

                <div class="d-flex justify-content-end">
                  <span class="mr-auto title">Android developer</span>
                  <span class="small-text expiry-date">26/12/2017</span>
                </div>

                <div>
                  <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eros lacus, convallis
                    id scelerisque vel, pulvinar sed quam. Nulla mollis arcu non mauris congue rhoncus. Nulla facilisi ...
                  </span>
                </div>

                <div class="d-flex justify-content-end">
                  <span class="small-text role">Developer</span>
                </div>

              </div>

              <div class="list-item horizontal-line">

                <div class="d-flex justify-content-end">
                  <span class="mr-auto title">Java developer</span>
                  <span class="small-text expiry-date">12/11/2017</span>
                </div>

                <div>
                  <span class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eros lacus, convallis
                    id scelerisque vel, pulvinar sed quam. Nulla mollis arcu non mauris congue rhoncus. Nulla facilisi ...
                  </span>
                </div>

                <div class="d-flex justify-content-end">
                  <span class="small-text role">Developer</span>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="row">
          <div class="col-sm-9">
            <!-- todo: set profiles with similar configurations -->
            <!--<div class="recommendations">
              <div class="img">text</div>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
