<section class="container">
  <div class="row">
    <div class="col-sm-12">
      <span>go back</span>
      <div class="card">
        <div class="card-body companyDetails">
          <div class="row">

              <div class="col-sm-2 img">
                <div class="ratio img-circle img-responsive"></div>
              </div>

              <div class="col-sm-6 details">
                  <span class="companyName">Google</span>
                  <span class="description">Software development</span>
                  <button class="btn btn-contact ">Contacto</button>
              </div>

              <div class="col-sm-4">Statistics</div>

          </div>
        </div>
      </div>

    </div>
  </div>
  <span>tabs</span>
  <div class="row">

    <div class="col-sm-2">Website</div>
    <div class="col-sm-8">Job Offers</div>
    <div class="col-sm-2">Similar profiles</div>

  </div>
</section>
