<section>
  <section class="container">
    <div class="row">
      <span class="go-back"><i class="fa fa-chevron-left mr-2"></i>Back to search more companies</span>

      <div class="col-sm-12">
        <div class="card">
          <div class="card-body companyDetails">
            <div class="row">

                <div class="col-sm-2 img">
                    <div class="ratio img-circle img-responsive align-self-center"></div>
                </div>

                <div class="col-sm-6 details">
                    <span class="companyName">Google</span>
                    <span class="description">Software development</span>
                    <div style="display: inline">
                      <button class="btn btn-contact ">Contacto</button>
                      <span class="follow">follow<i class="fa fa-heart-o"></i></span>
                    </div>

                </div>

                <div class="col-sm-4">
                  <div class="statistics">
                    <div class="row no-gutters">

                      <div class="col-sm-5 tag-column">
                        <div class="d-flex flex-column">
                          <div class="p-1">Job offers:</div>
                          <div class="p-1">Location:</div>
                          <div class="p-1">Review Score:</div>
                        </div>
                      </div>

                      <div class="col-sm-6 value-column">
                        <div class="d-flex flex-column">
                          <div class="p-1">4</div>
                          <div class="p-1">Medellin, Antioquia</div>
                          <div class="p-1">4.0</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="tabs">
      <span class="active header">Profile</span>
      <span class="header">Reviews</span>
    </div>

    <div class="row">

      <div class="col-sm-2 websites">
        <div class="card">
          <div class="card-body">
            <span class="title">WEBSITES</span>
            <span><i class="fa fa-globe mr-2 mt-2"></i>Website</span>
            <span><i class="fa fa-linkedin-square mr-2 mt-2"></i>Admin page</span>
          </div>
        </div>
      </div>

      <div class="col-sm-8">
        <div class="card">
          <div class="body">Job list placeholder</div>      
        </div>
      </div>
      <div class="col-sm-2">Similar profiles</div>

    </div>
  </section>
</section>
