@import "variables";

$input-section-spacing: 8rem;

.job-form {

  background: $azure;
  margin-bottom: 6rem;
  border: 1px solid $mischka;

  &__header {

    font-size: 2.3rem;
    font-weight: 300;
    padding: 2rem;
    border-bottom: 1px solid $geyser;
    text-align: center;
  }

  // do add a body
  &__inputs {

    margin: 4rem $input-section-spacing 0;
    padding: 2rem 3rem;
    border: {
      radius: 5px;
      style: dashed;
      width: 2px;
      color: $geyser;
    }
  }

  &__footer {
    margin: 4rem $input-section-spacing 2rem;
  }

  &__submit-button {
    display: inline-block;
  }
}

.button-spacing {
  padding: 1.5rem 4rem;
}
