
<div class="job-form">

  <div class="job-form__header">
    {{formTitle}}
  </div>

  <div class="job-form__inputs">

    <app-name
      [parent]="form">
    </app-name>

    <app-description
      [parent]="form">
    </app-description>

    <div class="row">
      <div class="col-5">
        <app-job-offer-date-input
          [fieldName]="jobExpiryField"
          [control]="form.controls['expiry']"
          [placeHolder]="jobExpiryPlaceHolder">
        </app-job-offer-date-input>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <app-dropdown-form-group
          [config]="jobTypeConfig"
          [control]="form.controls['type']">
        </app-dropdown-form-group>
      </div>

      <div class="col-6">
        <app-dropdown-form-group
          [config]="jobAudienceConfig"
          [control]="form.controls['to']">
        </app-dropdown-form-group>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <app-salary
          [parent]="form">
        </app-salary>
      </div>
    </div>

    <app-job-offer-toggle-input
      [control]="form.controls['urgent']">
    </app-job-offer-toggle-input>

  </div>

  <div class="job-form__update-status text-center"
       [ngClass]="{'job-form__update-status_hidden': shouldHideUpdateStatus}">
    Actualizacion completa.
  </div>

  <div class="job-form__footer
              d-flex justify-content-center">

    <div class="job-form__submit-button">

      <app-button
        *ngIf="!loading"
        [color]="buttonColor"
        [shape]="buttonShape"
        [enabled]="shouldButtonBeEnabled"
        (submit)="onClickHandler()">
        <div class="button-spacing">
          {{buttonTitle}}
        </div>
      </app-button>

    </div>

  </div>

</div>
