
<div class="job-form">

  <div class="job-form__header">
    Publica Una Oferta
  </div>

  <div class="job-form__inputs">

    <app-job-offer-input
      [fieldName]="jobNameField"
      [placeHolder]="jobNamePlaceHolder">
    </app-job-offer-input>

    <app-job-offer-input
      [fieldName]="jobDescriptionField"
      [type]="jobDescriptionType">
    </app-job-offer-input>

    <div class="job-form__input_size_medium">
      <app-job-offer-date-input
        [fieldName]="jobExpiryField"
        [placeHolder]="jobExpiryPlaceHolder">
      </app-job-offer-date-input>
    </div>

    <app-job-offer-drop-down-input
      [fieldName]="jobTypeField"
      [message]="jobTypePlaceHolder"
      [options]="jobTypeOptions">
    </app-job-offer-drop-down-input>

    <app-job-offer-drop-down-input
      [fieldName]="jobAudienceField"
      [message]="jobAudiencePlaceHolder"
      [options]="jobAudienceOptions">
    </app-job-offer-drop-down-input>

    <div class="job-form__input_size_small">
      <app-job-offer-input
        [fieldName]="jobSalaryField"
        [placeHolder]="jobSalaryPlaceHolder">
      </app-job-offer-input>
    </div>

  </div>

  <div class="job-form__footer
              d-flex justify-content-center">

    <div class="job-form__submit-button">
      <app-button
        [color]="buttonColor"
        [shape]="buttonShape">
        <div class="button-spacing">
          Publicar Oferta
        </div>
      </app-button>
    </div>

  </div>

</div>
