
<div class="job-form">

  <div class="job-form__header">
    {{formTitle}}
  </div>

  <div class="job-form__inputs">

    <app-name
      [parent]="form">
    </app-name>

    <app-description
      [parent]="form">
    </app-description>

    <div class="row">
      <div class="col-5">
        <app-job-offer-date-input
          [fieldName]="jobExpiryField"
          [control]="form.controls['expiry']"
          [placeHolder]="jobExpiryPlaceHolder">
        </app-job-offer-date-input>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <app-job-offer-drop-down-input
          [config]="jobTypeConfig"
          [control]="form.controls['type']">
        </app-job-offer-drop-down-input>
      </div>

      <div class="col-6">
        <app-job-offer-drop-down-input
          [config]="jobAudienceConfig"
          [control]="form.controls['to']">
        </app-job-offer-drop-down-input>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <app-salary
          [parent]="form">
        </app-salary>
      </div>
    </div>

    <app-job-offer-toggle-input
      [control]="form.controls['urgent']">
    </app-job-offer-toggle-input>

  </div>

  <div class="job-form__footer
              d-flex justify-content-center">

    <div class="job-form__submit-button">
      <app-button
        [color]="buttonColor"
        [shape]="buttonShape"
        [enabled]="formStatus"
        (submit)="onSubmitHandler()">
        <div class="button-spacing">
          {{buttonTitle}}
        </div>
      </app-button>
    </div>

  </div>

</div>
