
<div
  class="job"
  (click)="onClick()"
  [ngClass]="{'job_active': status,
              'job_applied': applyingStatus}">

  <div class="row no-gutters align-items-center">

    <div class="col-auto">
      <img
        class="job__image"
        [src]="iconUrl">
    </div>

    <div class="col-auto">

      <div class="info">
        <div class="info__title">
          {{job.name}}
        </div>
        <div class="info__owner">
          {{job.owner}}
        </div>
        <div class="info__salary"
             *ngIf="job.salary" >
          ${{job.salary | number:'3.0'}}
        </div>
      </div>

    </div>

    <div class="col"
         *ngIf="applyingStatus">

      <div class="d-flex">

        <div class="ml-auto">
          <img src="assets/icons/search/checked.svg"
               class="success-icon"
               *ngIf="applyingStatus">
        </div>

      </div>
    </div>

  </div>
</div>
