@import "variables";

.job {

  margin: 1rem 1.35rem;
  padding: 1.35rem;
  position: relative;
  transition: all 1s;

  border: {
    radius: 5px;
    style: solid;
    width: 2px;
    color: transparent;
  };

  &__image {
    width: 75px;
    height: 75px;
    border-radius: 2px;
    box-shadow: 0 0 1px rgba($regentGray, 0.6);
  }

  &_applied {

    .job__image {
      opacity: .8;
    }

    .info {
      opacity: .8;
    }
  }

  &_active {
    opacity: 1;
    border-color: $paradiso-light !important;
    background: lighten($paradiso, 57.5%);
  }

  &:hover {
    cursor: pointer;
    border-color: $geyser;
  }
}

.info {

  padding-left: 1rem;

  &__title {
    color: $tuna;
    font-size: 1.8rem;
  }

  &__owner {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
  }

  &__salary {
    color: $deYork;
    font-size: 1.3rem;
    font-weight: 600;
  }
}

.success-icon {
  height: 4rem;
}
