@import "variables";

.job-input-field {

  width: 100%;
  margin-top: 1.5rem;

  &__label {

    font-size: 1.6rem;
    color: $stormGray;
    margin-bottom: 0.5rem;
  }

  &__input {

    width: inherit;
    border-radius: $job-offer-input-border-radius;
    border: $job-offer-input-border;

    &:focus {

      box-shadow: 0 0;
      border: {
        width: 1px;
        color: darken($geyser, 10%);
      }
    }

    &_type_default {
      font-size: 1.7rem;
      height: $job-offer-input-height;
    }

    &_type_text {
      font-size: 1.6rem;
      height: $job-offer-input-height;
    }
  }

  &__error {

    color: $burntSienna;
    margin: .7rem 0 0 1rem;
    font-size: 1.5rem;
  }
}
