
<div class="job-input-field">

  <label class="job-input-field__label">
    {{fieldName}}
  </label>

  <input class="job-input-field__input
                job-input-field__input_type_default
                form-control"
         *ngIf="isType('input')"
         [placeholder]="placeHolder">

  <textarea class="job-input-field__input
                   job-input-field__input_type_text
                   form-control"
            rows="3"
            *ngIf="isType('text-area')"
            [placeholder]="placeHolder">
  </textarea>

  <!-- error messaging -->
</div>
