
<div class="job-input-field">

  <label class="job-input-field__label">
    {{fieldName}}
  </label>

  <input class="job-input-field__input
                job-input-field__input_type_default
                form-control"
         *ngIf="isType('input')"
         [placeholder]="placeHolder"
         [formControl]="control">

  <textarea class="job-input-field__input
                   job-input-field__input_type_text
                   form-control"
            rows="7"
            *ngIf="isType('text-area')"
            [placeholder]="placeHolder"
            [formControl]="control">
  </textarea>

  <div *ngIf="invalid"
        class="job-input-field__error">
    Este campo es requerido
  </div>

  <div *ngIf="invalidSalary"
       class="job-input-field__error">
    Solo se admiten numeros del 0 al 9
  </div>

</div>
