
<div class="container">
  <div class="jobs
              row no-gutters">
    <div class="col-lg-4 col-md-6 col-sm-12"
         *ngFor="let job of jobs">
      <app-applied-jobs-job-card
        [job]="job"
        (onDelete)="onDeleteHandler($event)">
      </app-applied-jobs-job-card>
    </div>
  </div>

  <div *ngIf="jobs.length === 0">

    <div class="hint heading-tertiary
                text-center">
      <div class="heading-tertiary_main">
        No este suscrito a ninguna oferta.
      </div>
      <div class="heading-tertiary_sub">
        buscalas <span class="u-text-underline" (click)="onClickHandler()">aquí</span>
      </div>
    </div>

  </div>
</div>
