@import "variables";

$list-width: 51rem;

.list-box {

  border-right: 1px solid $mischka;
  box-shadow: 7px 0 12px -15px  $regentGray;

  width: $list-width;
  position: absolute;
  height: 100vh;
  z-index: 5;
}

.details-box {
  padding-left: $list-width;
  height: 100vh;
}
