
<div class="form">
  <div class="form__header">
    <p>Detalles de la empresa</p>
  </div>

  <div class="form__body  ">
    <app-logo
      (upload)="onUpload($event)">
    </app-logo>
    <app-name
      [parent]="form">
    </app-name>
    <app-webpage
      [parent]="form">
    </app-webpage>
    <app-details
      [parent]="form">
    </app-details>
    <app-sector
      [parent]="form">
    </app-sector>
    <app-city
      [parent]="form">
    </app-city>
    <app-nit
      [parent]="form">
    </app-nit>
  </div>

  <div class="form__footer d-flex justify-content-end">
    <app-button
      [enabled]="formStatus"
      (submit)="onSubmit()">
      {{ 'Siguiente' | uppercase }}
    </app-button>
  </div>
</div>
