@import "variables";

$menu-width: 25rem;

.dashboard {

  position: relative;

  &__side-pane {

    min-height: $body-height;
    width: $menu-width;
    position: absolute;
    top: 0;
    left: 0;
    background: $company-dashboard-background;
    z-index:1;
  }

  &__content {

    position: absolute;
    width: 100%;
    min-height: $body-height;
    padding-left: $menu-width;
    background: $company-dashboard-background;
  }

  &__box {
    padding-left: $dashboard-left-spacing;
    padding-top: $dashboard-top-spacing;
    padding-right: $dashboard-right-spacing;
  }
}
