<div class="home-info">

  <div class="home-info__text-box">

    <div class="heading-primary">
      <div class="heading-primary_main">
        Construye tu futuro
      </div>
      <div class="heading-primary_sub u-color_gray">
        La bolsa de empleos de la Universidad de Antioquia para el departamento de Ingeniería de Sistemas
        canaliza las ofertas laborales en un solo lugar
      </div>
    </div>

  </div>

  <div class="home-info__background">
    <img src="assets/icons/home/space-ship.svg" alt="">
  </div>

</div>
