
<div class="filter-box">

  <app-search
    (onInputChanged)="onFilterSetHandler($event, 'search')">
  </app-search>

  <app-salary
    (onSalarySet)="onFilterSetHandler($event, 'salary')">
  </app-salary>

  <app-category
    [category]="typeCategory"
    [options]="typeCategoryOptions"
    (onOptionSelected)="onFilterSetHandler($event, 'type')">
  </app-category>

  <app-search-audience-filter-container
    (onOptionSelected)="onFilterSetHandler($event, 'audience')">
  </app-search-audience-filter-container>

</div>
