$title-color: #212529;
$title-size: 18px;
$text-color: #848CA0;
$text-size: 14px;
$small-text-size: 13px;
$highlight-color: #6BCB98;

.body{

  .card {
    border-style: none;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);

    .header {

      .name {
        font-size: $title-size;
        font-weight: bold;
        color: $title-color;
      }
    }

    .contact-info {
      margin-top: 2em;
      color: $text-color;

      .email {
        font-size: $text-size;
      }

      .cellphone {
        font-size: $small-text-size;
        font-weight: bold;
      }
    }

    .options {
      margin-top: 1.5em;
      transition: all .2s ease-in-out;

      &:hover {
        cursor: pointer;
        color: $highlight-color;
        transform: scale(2);
      }
    }
  }
}
