<div class="body">
  <!--job works!-->

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <div class="header d-flex justify-content-center">
            <div class="name">David Jaramillo</div>
          </div>
          <div class="contact-info d-flex flex-column align-items-center">
            <div class="email">david.blj95@gmail.com</div>
            <div class="cellphone">3003102703</div>
          </div>
          <div class="options d-flex justify-content-center">
            <div class="download">
              <i class="fa fa-arrow-down"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!--{{jobId}}
  <div *ngIf="job">
    {{job.jobName}}
  </div>-->
</div>
