.bg-no-overlay {
  background: {
    image: url('office.jpg');
    repeat: no-repeat;
    size: cover;
    position: center center;
  };

  position: absolute;
  height: 100%;
  padding: {
    left: 0;
    right: 0;
  };
  margin: {
    left: 0;
    right: 0;
  };

  .opaque {
    padding: {
      left: 0;
      right: 0;
    };
    margin: {
      left: 0;
      right: 0;
    };
    position: absolute;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.2);

    .header {
      margin-top: 0.7em;
      font-weight: bolder;
    }

    .options-container {
      margin: {
        top:10em;
        left: 3em;
        right: 3em;
      };

      i {
        margin-top: 0.1em;
        font-size: 190px;
        transition: all .2s ease-in-out;
        outline: 0;

        &:hover {
          cursor: pointer;
          transform: scale(1.2);
        }
      }

      .left {
        margin-left: 24%;
      }

      .right {
        margin-left: 30%;
      }
    }
  }


}
