<input type="file"
       accept=".pdf"
       #fileInput
       style="display: none"
       (change)="onFileUpload($event)">

<div class="file-input
            d-flex justify-content-center">

  <div class="file-input__content-box">

    <div class="file-input__icon">
      <img src="assets/pdf.svg">
    </div>

    <div class="file-input__file-name">
      {{sanitizedFileName}}
    </div>

    <div class="file-input__message"
         [ngClass]="{'file-input__message_error': error}" >
      {{validationMessage}}
    </div>

    <div class="file-input__update">
      <app-button
        [shape]="buttonShape"
        [hoverColor]="buttonHoverColor"
        (submit)="onSubmitHandler()">
        <div class="button-spacing">
          reemplazar
        </div>
      </app-button>
    </div>

  </div>

</div>
