@import "variables";

.file-input {

  position: relative;

  width: 100%;

  &__content-box {
    text-align: center;
  }

  &__file-name {
    font-size: 1.6rem;
    color: $stormGray;
  }

  &__message {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 600;

    &_error {
      color: $burntSienna-light;
    }
  }

  &__icon {

    margin-bottom: 1rem;

    img {
      height: 7rem;
    }
  }

  &__update {
    position: absolute;
    top: 0;
    right: 0;
  }

  .button-spacing {
    padding: 1rem;
  }
}
