// grey scale
$athensGray: #e6eaee;
$geyser: #cdd9dc;

//white scale
$white: #fff;

.register-content {
  height: 100vh;
  background: $athensGray;
  position: relative;
}

.register-card {

  width: 950px;

  background: $white;
  border: none;
  box-shadow: 0 0 30px 0 $geyser;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__body {

  }

  &__pane {
    box-shadow: -10px 0 50px -5px rgba($geyser, .5);
  }
}
