<div [ngSwitch]="step">

  <div *ngSwitchCase="1" class="info">
    <app-img>
      <i class="info__icon fas fa-map-signs"></i>
    </app-img>
    <h2 class="info__header">Credenciales</h2>
    <p class="info__tip">Detalles de la sesión e información general</p>
  </div>

  <div *ngSwitchCase="2" class="info">
    <i class="info__icon fas fa-archive"></i>
    <h2 class="info__header">Información de la empresa</h2>
    <p class="info__tip">¿A quien representas? Esta información siempre será editable</p>
  </div>

  <div *ngSwitchCase="3" class="info">
    <i class="info__icon fas fa-paper-plane"></i>
    <h2 class="info__header">Información personal</h2>
    <p class="info__tip">¿Quien eres tu?</p>
  </div>

</div>
