$mischka: #e4e2e6;
$tuna: #373738;
$blueChill: #138496;

.register-field {

  font-size: 1.5rem;
  margin-bottom: 1.4rem;

  &__label {

    color: $tuna;
    font-size: 1.5rem;
  }

  &__input {

    font-size: 1.5rem;
    height: 4.5rem;
    border: {
      radius: 5px;
      width: 2px;
      color: $mischka;
    };

    &:focus {

      box-shadow: 0 0;
      border: {
        width: 2px;
        color: $blueChill;
      }
    }
  }
}
