
<!-- consider using a new component that just receives the data. -->

<div class="register-field" [formGroup]="parent">
  <label class="register-field__label label">Nombre de usuario</label>
  <input  class="register-field__input
                 register-field__input_type-default
                 form-control"
          formControlName="username"
          (focus)="changeMessageVisibility()"
          (blur)="changeMessageVisibility()">

  <div [hidden]="!displayWarnings"
       class="register-field__warning">
    <app-warning
      [focus]="showMessages"
      [warnings]="warnings">
    </app-warning>
  </div>
</div>

<div *ngIf="showMessages">
  <app-hint
    [hints]="hints">
  </app-hint>
</div>
