@import "variables.scss";

.btn {

  display: inline-block;
  border-radius: 2rem;
  padding: 1.2rem 4rem;
  letter-spacing: 2px;
  font-size: 1.3rem;
  font-weight: 600;
  color: $white;
  transition: all,.2s;

  &_action-next {

    background-color: $mantis;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 1rem 2rem rgba($mantis,0.5);
    }
  }

  &_disabled {
    background: $mantis;
  }
}

.arrow {

  &_direction-right {
    padding-left: 2.5rem;
  }
}
