@import "variables";

.btn {

  border-radius: 2rem;
  letter-spacing: 2px;
  width: auto;
  font-size: 1.3rem;
  color: $white;
  transition: all .2s;

  padding: {
    bottom: 1.1rem;
    left: 4rem;
    right: 3rem;
    top: 1.1rem;
  }

  &_action-next {

    background-color: $easternBlue;

    &:hover {
      background-color: $blueChill;
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
    }
  }

  &_disabled {
    background: rgba($blueChill, 0.75);;
  }
}

.arrow {

  &_direction-right {
    padding-left: 2.5rem;
  }
}
