$highlight-color: #6BCB98;
$title-color: #464650;
$text-color: #757575;
$language-color: #74C3E0;
$grey: #E4E2E6;

$tag-size: 13px;
$tag-color: #303D54;

.section {
  width: 100%;
  height: auto;
  min-height: 100%;
  position: absolute;
  background: #F8F4F6;
}

.card {
  margin: 2em;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);

  .card-header {
    background: white;
    color: $text-color;
  }

  .card-body {
    margin-bottom: 1.2em;
  }

  .title {
    color: $title-color;
    font-size: 20px;
    font-weight: bold;
  }

  .align {
    margin-left: 7.7em;
  }

  span {
    color: #464650;
    font-size: 14px;
  }

  input {
    margin-top: 1em;
    width: 100%;
    height: 2.7em;

    outline: none;
    padding-left: 0.5em;
    border-radius: 5px;
    border: {
      style: solid;
      width: 2px;
      color: $grey;
    };

    &:focus {
      border: {
        style: solid;
        width: 2px;
        color: $highlight-color;
      };
    }
  }
}

.skills {

  .languages {
    display: block;

    .btn-language {

      border-radius: 50px;
      margin-right: 10px;
      background: white;
      color: $language-color;

      border: {
        style: solid;
        color: $language-color;
        width: 2px;
      };
      margin: {
        top: 0.5em;
      }

      & .selected{
        background: $language-color;
        color: white;
      }
    }
  }
}

.personal-info {
  padding: {
    left: 12em;
    right: 12em;
  }

  .row {
    margin-top: 1em;

    input {
      margin: {
        top: 5px;
      }
    }

    .tag {
      font-weight: bold;
      font-size: $tag-size;
      color: $text-color;
    }
  }
}

.dropdown {

  i{
    position: relative;
    top: -36px;
    right: -90%;
  }
}

.btn-upload {
  background: #f5f5f5 !important;
  border-color: #b0bec5;
  padding: 0.5em 1em 0.8em;
  margin-top: 0.5em;

  i {
    position: relative;
    top: 2px;
    color: #616161;
    font-size: 1.5em;
    padding-right: 5px;
  }
  span {
    font-size: 13px;
  }
}

.btn-submit {
  margin: {
    right: 2em;
    bottom: 1em;
  };
  height: 45px;
  padding: 5px 40px;
  background: #F4646A;
  color: #E4E8E6;
  border-radius: 20px;
  box-shadow: 1px 4px 4px rgba(0,0,0,0.2);
}

