<div class="section">

  <div class="container">
    <form novalidate [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="card">

        <!-- todo: add a global style for invalid fields-->
        <div class="card-header">Account details</div>
        <div class="card-body">

          <div class="d-flex justify-content-center title">
            Credentials
          </div>

          <div class="row justify-content-center">
            <div class="col-sm-6">
              <input formControlName="email" placeholder="example@domain.com">
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-sm-6">
              <input formControlName="password" type="password" placeholder="password">
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-sm-6">
              <input formControlName="username" placeholder="username">
            </div>
          </div>

        </div>
      </div>

      <div class="card">

        <div class="card-header">What are you looking for</div>
        <div class="card-body">

          <div class="row justify-content-center">
            <div class="col-sm-5">
              <input formControlName="jobTitle" placeholder="job title">
            </div>

            <!-- todo: Use google places API instead, with the style that is set to this field -->
            <div class="col-sm-4 dropdown">
              <input formControlName="location" placeholder="location">
              <i class="fa fa-sort-desc"></i>
            </div>
          </div>

          <div class="row skills justify-content-center">
            <div class="col-sm-9">
              <span>pick up your relevant skills</span>
              <div class="languages">
                <button type="button" *ngFor="let language of maximun; let index = index" class="btn btn-language" (click)="onSkillSelected(language)"
                [ngClass]="{'selected': toggleStyle(index)}">{{language}}</button>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="card">

        <div class="card-header">Tell us who you are</div>
        <div class="card-body">

          <div class="d-flex justify-content-center title">
            Personal info
          </div>

          <div class="personal-info">
            <div class="row justify-content-center">

              <div class="col-sm-6">
                <span class="tag">Full name</span>
                <input formControlName="fullName" placeholder="i.e. John Doe">
              </div>

              <div class="col-sm-6">
                <span class="tag">Identification</span>
                <input formControlName="id" placeholder="i.e. 1152209135">
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <span class="tag">Age</span>
                <input formControlName="age" placeholder="i.e. 22">
              </div>

              <div class="col-sm-6">
                <span class="tag">cellphone</span>
                <input formControlName="cellphone" placeholder="i.e. 777 77 77">
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="card">

        <div class="card-header">Career details</div>
        <div class="card-body">

          <div class="row align">
            <span>Upload your documents</span>
          </div>

          <div class="row align">
            <a class="btn btn-upload">
              <i class="fa fa-cloud-upload upload-icon"></i>
              <span>Upload a resumee</span>
            </a>
          </div>

          <!-- todo: assign an "state" drop down: working, un-employed and undergraduate -->
          <!--<div class="row align">
            <div class="  dropdown">
              <input placeholder="state">
              <i class="fa fa-sort-desc"></i>
            </div>
          </div>-->

          <!-- todo: add a linked-in profile input -->
        </div>
      </div>

      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-submit">Submit</button>
      </div>

    </form>
  </div>
</div>
