$background-color: #ededed;

.closed {

  .modal {
    // for a transition animation
    top: -100%;
  }

  .modal-overlay {
    display: none;
  }
}

.modal-overlay {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: rgba(0, 0, 0, .4);
}

.modal {
  // todo: set the width and height dynamically
  display: block;
  z-index: 1100;
  overflow-y: auto;
  max-height: calc(100% - 10em);

  position: fixed;
  top: 5em;
  left: calc(50% - 30%);

  background-color: $background-color;
  width: 55%;
  height: 80%;
  border-radius: 35px;

  transition: all .3s ease;

  .body {
    padding: 1.2em;
  }
}
