@import "variables";

.logo {

  height: 7.7rem;
  background: $athensGray;
  font-size: 1.2rem;
  font-weight: 600;
  border: {
    style: dashed;
    width: 2px;
    color: $geyser;
  }

  & > div {
    display: block;
  }

  &__message {
    color: $blueChill;
  }

  &__hint {
    $abbey: #464650;
    padding-left: 0.5rem;
  }

  &:hover {
    cursor: pointer;
    border-color: $mountainMist;
  }
}
