<div class="register-field" [formGroup]="parent">

  <label class="register-field__label label">Contraseña</label>
  <input class="register-field__input form-control"
         type="password"
         formControlName="password"
         (focus)="changePasswordMessageVisibility()"
         (blur)="changePasswordMessageVisibility()">

  <div [hidden]="!displayWarnings"
       class="register-field__warning">
    <app-warning
      [focus]="showPasswordMessages"
      [warnings]="passwordWarnings">
    </app-warning>
  </div>

</div>

<div *ngIf="showPasswordMessages">
  <app-hint
    [hints]="passwordHints">
  </app-hint>
</div>

<div class="register-field">

  <label class="register-field__label label">Confirma tu contraseña</label>
  <input class="register-field__input form-control"
         type="password"
         [formControl]="passwordConfirmation"
         (focus)="changeCheckPasswordMessageVisibility()"
         (blur)="changeCheckPasswordMessageVisibility()">

  <div [hidden]="!displayConfirmationWarnings"
       class="register-field__warning">
    <app-warning
      [focus]="showCheckPasswordMessages"
      [warnings]="checkPasswordWarnings">
    </app-warning>
  </div>

</div>

<div *ngIf="showCheckPasswordMessages">
  <app-hint
    [hints]="checkPasswordHints">
  </app-hint>
</div>
<!-- show one hint notifying that this password matches -->
