<div class="card dashboard">
  <div class="card-body">

    <div class="row toolbar">

      <ul class="nav ml-auto">
        <li class="nav-item ">
          <button class="btn btn-sm" (click)="open()">
            <i class="fa fa-plus inline-icon"></i>
            new
          </button>
        </li>
      </ul>

    </div>

    <!-- todo: set a response for no results -->
    <div class="row">
      <table class="table table-hover offers-table">
        <thead>
        <tr>
          <th class="col-sm-6"><i class="fa fa-folder-open px-1"></i></th>
          <th class="col-sm-1"><i class="fa fa-users"></i></th>
          <th class="col-sm-2"><i class="fa fa-calendar-o px-4"></i></th>
          <th class="col-sm-2"><i class="fa fa-cog"></i></th>
        </tr>
        </thead>
        <tbody>
          <tr  *ngFor="let job of jobs">
            <td class="col-sm-6">{{job.jobName}}</td>
            <td class="col-sm-1">0</td>
            <td class="col-sm-2">{{job.expiryDate}}</td>
            <td class="col-sm-2"><i class="fa fa-ellipsis-h"></i></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
