
.u-wrapper {
  height: inherit;
  position: relative;
}

.u-relative {
  position: relative;
}

.u-color_gray {
  color: $mountainMist;
}

.u-color_white {
  color: white;
}

.u-font-weight_bold {
  font-weight: 600;
}

.u-font-weight_italic {
  font-style: italic;
}
