// app colors

// white scale
$white: #fff;
$azure: #F7F9f9;
$seaShell: #f1f0f0;
$athensGray: #f8f9fa;
$mischka: #e4e2e6;
$geyser: #CDD9DC;

// grey scale
$regentGray: #848ca0;
$stormGray: #777786;
$mountainMist: #928D96;
$tuna: #373738;
$abbey: #464650;

// green scale
$paradiso: #3e918f;
$paradiso-light: lighten($paradiso, 10%);
$deYork: #6bCb98;
$mantis: #5cc26c;
$mantis-light: lighten($mantis, 6%);

// red scale
$burntSienna: #E95A51;
$burntSienna-light: lighten($burntSienna, 6%);

// shadows

$shadow: 0 0 10px -2px $geyser;
$strong-shadow: 0 0 15px -2px $geyser;

// header component variables

$header-height: 6.74rem;
$logo-height: 3.3rem;
$header-margin-component: 2rem;

// job offer component variables

$input-field-margin-top: 1.5rem;
$label-font-size: 1.6rem;
$label-margin-bottom: .5rem;
$label-color: $stormGray;
$input-height: 4rem;
$input-border-radius: 5px;
$input-border: 1px solid $geyser;
$error-margin: .7rem 0 0 1rem;
$error-font-size: 1.5rem;

// company dashboard module variables

$company-dashboard-background: lighten($regentGray, 37%);
$body-height: calc(100vh - #{$header-height});
$side-margin: 8rem;
$dashboard-top-spacing: 6rem;
$dashboard-left-spacing: 6rem;
$dashboard-right-spacing: 6rem;
$table-bottom-spacing: 4rem;

// search module variables

$search-dashboard-height: calc(100vh - #{$header-height});
$apply-section-height: 8rem;
$job-details-spacing: 4rem;
$job-details-height: calc(#{$search-dashboard-height} - #{$apply-section-height});

