   // colors

// white scale
$white: #fff;
$azure: #F7F9f9;
$seaShell: #f1f0f0;
$athensGray: #f8f9fa;
$mischka: #e4e2e6;
$geyser: #CDD9DC;

// grey scale
$regentGray: #848ca0;
$stormGray: #777786;
$mountainMist: #928D96;
$tuna: #373738;
$abbey: #464650;

// green scale
$paradiso: #3e918f;
$paradiso-light: lighten($paradiso, 10%);
$deYork: #6bCb98;
$mantis: #5cc26c;

// red scale
$burntSienna: #E95A51;


  // company dashboard variables

$company-dashboard-background: lighten($regentGray, 37%);
$header-height: 8vh;
$body-height: 92vh;
$side-margin: 8rem;
$dashboard-top-spacing: 6rem;
$dashboard-left-spacing: 6rem;
$dashboard-right-spacing: 8rem;
$table-bottom-spacing: 4rem;


  // search variables

$job-details-spacing: 4rem;
$apply-section-height: 8rem;
$job-details-height: calc(100vh - #{$apply-section-height});
