@import "variables.scss";

.form {

  &__header {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }

  &__body {

  }

  &__footer {
    margin-top: 5rem;
  }
}


.register-field {

  position: relative;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;

  &__label {

    color: $tuna;
  }

  &__warning {

    position: absolute;
    top: 50%;
    left: -3.9rem;
  }

  &__input {

    border: {
      radius: 5px;
      width: 2px;
      color: $mischka;
    };

    &_type-default {
      font-size: 1.5rem;
      height: 4.5rem;
    }

    &_type-text {
      font-size: 1.4rem;
      height: auto;
    }

    &:focus {

      box-shadow: 0 0;
      border: {
        width: 2px;
        color: $blueChill;
      }
    }
  }
}
