@import "variables.scss";

.register-field {

  position: relative;
  font-size: 1.5rem;
  margin-bottom: 1.2rem;

  &__label {

    color: $tuna;
  }

  &__warning {

    position: absolute;
    top: 50%;
    left: -3.9rem;
  }

  &__input {

    font-size: 1.5rem;
    height: 4.5rem;
    border: {
      radius: 5px;
      width: 2px;
      color: $mischka;
    };

    &:focus {

      box-shadow: 0 0;
      border: {
        width: 2px;
        color: $blueChill;
      }
    }
  }
}
