// white scale
$white: #fff;
$mischka: #e4e2e6;
$athensGray: #f8f9fa;
$geyser: #CDD9DC;
$mountainMist: #928D96;

// grey scale
$tuna: #373738;
$abbey: #464650;

// blue scale
$blueChill: #138496;
$easternBlue: #17A2B8;
