@import "variables";

.job {

  height: $job-details-height;
  background: $athensGray;
  padding: $job-details-spacing;
  position: relative;

  &__image {
    border-radius: 7px;
    width: 115px;
    height: 115px;
    box-shadow: 0 0 5px rgba($regentGray, 0.4);
  }

  &__description {
    margin-top: 2.5rem;
    text-align: justify;
    font-size: 1.7rem;
    font-weight: 500;
  }
}

.banner {

  padding-left: 2.25rem;

  &__title {
    font-size: 3rem;
    line-height: 3rem;
  }

  &__owner {
    color: $paradiso-light;
    font-size: 2rem;
  }

  &__expiry {
    font-size: 1.5rem;
  }
}

.details {

  margin-left: 1rem;
  margin-top: 2.5rem;

  & > div {
    display: inline-block;
  }
}

.details-block {

  margin-right: 4.5rem;
  font-weight: 600;

  &__tag {
    font-size: 1.4rem;
  }

  &__label {
    font-size: 1rem;
    letter-spacing: 1px;
  }

  &_color_dark-grey {
    color: rgba($tuna, 0.5);
  }

  &_color_dim-grey {
    color: rgba($regentGray, 0.5);
  }

  &_color_red {
    color: $burntSienna;
  }

  &_color_green {
    color: $deYork;
  }

  &_color_blue {
    color: $paradiso-light;
  }

  &:last-child {
    margin-right: 0;
  }
}
