
<div *ngIf="job">

  <div class="job">

    <div class="row no-gutters align-items-center">

      <div class="col-auto">
        <img
          class="job__image"
          src="assets/thumbnail_05557113302602f4454623399a1f9222_google-square.jpg">
      </div>

      <div class="col">

        <div class="banner">
          <div class="banner__title">
            {{job.name}}
          </div>
          <div class="banner__owner">
            {{job.owner}}
          </div>
          <div class="banner__expiry">
            {{job.expiry | date}}
          </div>
        </div>

      </div>

    </div>

    <div class="details">

      <div class="details-block">
        <div class="details-block__tag details-block_color_red">
          {{job.to}}
        </div>
        <div class="details-block__label details-block_color_dim-grey">
          AUDIENCIA
        </div>
      </div>

      <div class="details-block">
        <div class="details-block__tag details-block_color_dark-grey">
          {{job.type}}
        </div>
        <div class="details-block__label details-block_color_dim-grey">
          TIPO
        </div>
      </div>

      <div class="details-block float-right">
        <div class="details-block__tag details-block_color_blue">
          {{job.salary | number:'3.0'}}
        </div>
        <div class="details-block__label details-block_color_dim-grey">
          COMPENSACION
        </div>
      </div>

    </div>

    <div class="job__description">
      {{job.description}}
    </div>

  </div>

  <app-search-apply-container
    [job]="job">
  </app-search-apply-container>

</div>
